python-dotenv
streamlit
sentence-transformers

langchain
langchain-community
langchain-classic
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain_google_genai

chromadb
pymupdf
