python-dotenv
streamlit
sentence-transformers

langchain
langchain-community
langchain-classic
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain_google_genai
unstructured
unstructured[pdf]
langchain_unstructured

faiss-cpu
chromadb
pymupdf
opencv-python-headless
